<div class="card" style="width:600px;padding: 20px;
box-shadow: 0 0 10px gray;">
    <div class="card-body">
        <h1 class="text text-primary">User Management</h1>
        <form action="" [formGroup]="userForm" class="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
          <label for="name" class="form-label">Enter Name:</label>
          <input type="text" id="name" formControlName="name" class="form-control">
            </div>
        <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="text" id="email" formControlName="email" class="form-control">
        </div>
        <div class="mb-3">
        <label for="password" class="form-label">Password:</label>
        <input type="password" formControlName="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <h2 class="text text-primary">Users List</h2>
        <table class="table">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Email</td>
                    <td>Password</td>
                    <td>Actions</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.password}}</td>
                    <td>
                <button class="btn btn-warning" (click)="editUser(user)">Edit</button>
                <button (click)="deleteUser(user)" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
  </div>

