/* You can add global styles to this file, and also import other style files */


.mat-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .mat-dialog-backdrop {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }